
<form [formGroup]="formBikeCreate"  (ngSubmit)="save()"  >

    <div>
        <label for="">Model</label>
        <input formControlName="model" type="text"  >
        <div *ngIf="formBikeCreate.get('model').invalid 
        && ( formBikeCreate.get('model').dirty || 
        formBikeCreate.get('model').touched )" >
            <div *ngIf="formBikeCreate.get('model').errors.required" >
                    <p>Este campo es requerido</p>
            </div>
        </div>
    </div>

    <div>
        <label for="">Price</label>
        <input formControlName="price" type="text"  >
    </div>

    <div>
        <label for="">Serial</label>
        <input formControlName="serial" type="text"  >
    </div>

    <button type="submit" [disabled]="formBikeCreate.invalid" >Guardar</button>
</form>